footer {
  border-top: 1px solid var(--color-border);
  padding: 20px 0;
  margin-top: 40px;

  a {
    color: var(--color-text-secondary);
    text-decoration: underline;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
